<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Profile</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
<link rel="stylesheet" href="/kavya-styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">OPTIONS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  
  
  
  
  <!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>
      
  
    <section class="game-section">
        <h2 class="line-title">SUSTAINABLE METHODS</h2>
        <div class="owl-carousel custom-carousel owl-theme">
          <div class="item active" style="background-image: url(./assets/33.jpg);">
            <div class="item-desc">
              <h3>Water Conservation</h3>
              <p>Water is life's matter and matrix, mother and medium. There is no life without water</p>
            </div>
          </div>
          <div class="item" style="background-image: url(./assets/32.jpg);">
            <div class="item-desc">
              <h3>Transportation</h3>
              <p>Join a bike sharing program or opt for sustainable  transportation to reduce emission and traffic congestion.</p>
            </div>
          </div>
          <div class="item" style="background-image: url(./assets/31.jpg);">
            <div class="item-desc">
              <h3>Energy</h3>
              <p>Use natural lighting during the day and investig in LED light bulbs, which consume less energy</p>
            </div>
          </div>
          <div class="item" style="background-image: url(./assets/34.jpg);">
            <div class="item-desc">
              <h3>Recycle</h3>
              <p>Use reusable beeswax wraps or silicon lids instead of plastic wrap to cut down on kitchen waste</p>
            </div>
          </div>
          <div class="item" style="background-image: url(./assets/35.jpg);">
            <div class="item-desc">
              <h3>Eating</h3>
              <p>Plan meals, store food properly, and compost kitchen scraps to minimize food waste at home</p>
            </div>
          </div>
        </div>
        </div>
      </section> 
      <section>
        <div class="wrapper">
          <h2 class="line-title">ACHIEVEMENTS</h2>
          <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                  <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                    <div class="inner">
                      <p>15 kms in bicycle</p>
                      <span>Reward</span>
                    </div>
                  </div>
                  <div class="back">
                    <div class="inner">
                      <p>Used Sustainable Transportation for small distances</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                  <div class="front" style="background-image: url(https://unsplash.it/511/511/)">
                    <div class="inner">
                      <p>4 pounds cfp</p>
                      <span>Reduced</span>
                    </div>
                  </div>
                  <div class="back">
                    <div class="inner">
                      <p>Reduced 4 pounds of carbon foot print in the previous month</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                  <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                    <div class="inner">
                      <p>12 Kw energy</p>
                      <span>Saved</span>
                    </div>
                  </div>
                  <div class="back">
                    <div class="inner">
                      <p>Saved 10% more energy compared to previous month</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                  <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                    <div class="inner">
                      <p>Community Cleaning</p>
                      <span>Prize</span>
                    </div>
                  </div>
                  <div class="back">
                    <div class="inner">
                      <p>Participated in community cleaning 2 times in last month</p>
                    </div>
                  </div>
                </div>
              </div>
         </div>
      </section>
      <section>
        <div class="box">
          
          <div class="text">
          <h1>Contact <span class="red">Us</span></h1>
          
          <p>Have Questions ? We have Answers!</p>
          </div>
        </div>
      
        <div class="touch">
          <h2>Feedback Form</h2>
         
        </div>
        
        <form action="" method="POST" name="contact-form">
        <div class="container form-margin">
          <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>     <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
          <input type="text" class="form-control" placeholder="First Name" ng-model="firstname" name="firstname" required>    
            </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Company Name" ng-model="company" name="company" required>    
            </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Phone" ng-model="phone" name="firstname" required>    
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
          <input type="text" class="form-control" placeholder="Last Name" ng-model="lastname" name="lastname" required>    
            </div>
            <div class="form-group">
          <input type="email" class="form-control" placeholder="E-mail" ng-model="email" name="email" required>    
            </div>
            <div class="form-group">
          <input type="text" class="form-control" placeholder="Course" ng-model="course" name="course" required>    
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="form-group">
          <textarea class="form-control" rows="6" placeholder="Message" ng-model="message" name="message" required></textarea>
        </div>  
            <div class="pager">
            <button type="submit" class="btn btn-success">SEND MESSAGE</button>
            </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        
        </div>
        </form>
        <!--address-->
      
        <div class="container address d-flex flex-row justify-content-center">

          <div class="col-4">
            <h3>Our Address</h3>
            <div class="redline-address"></div>
            <p>VIT AP UNIVERSITY</p>
            <p>Amaravati</p>
            <p>Andhra Pradesh</p>
            <p>India - 522237</p>
            <div class="phone-e">
            <p><span class="glyphicon glyphicon-envelope"> </span> ivitapgreen.com</p>
            <p><span class="glyphicon glyphicon-phone"></span>898734234789</p>
            </div>   
        </div>
        <div class="col-4">
          <!--map-->
          <iframe src="https://www.google.com/maps/d/embed?mid=1Y-ynI3HdfkwN17v6o_Q8OAEbCWU&hl=en_US&ehbc=2E312F" width="400" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        </div>
        
        <div class="bottom-gap"></div>
      </section>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- Your custom JavaScript code -->
      <script src="kavya-script.js"></script>
</body>
</html>


